<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>
<app-arraycomponent [elements]="arrElement"></app-arraycomponent>
<h4 >Upper directive : li to uppercase</h4>
<ul>
  <li> item 1</li>
  <li appUpper>item 2</li>
  <li appUpper>item 3</li>
  <li> item 4</li>
</ul>
 
<h4>Myvisibility directive : hide/show element</h4>
<ul>
  <li [appMyvisibility]="true">item 1</li>
  <li [appMyvisibility]="false">item 2</li>
  <li [appMyvisibility]="false">item 3</li>
  <li [appMyvisibility]="true">item 4</li>
</ul>

<h4>My color directive : show an array of colors</h4>
<div appMycolor (emitter)="dataHandler($event)">click me</div>
<div *ngIf="colors">current color @parent is : {{color}}</div> 