<div class="container">
  <div class="row">
      <div class="col-xs-10">
          <h1>Welcome to this university</h1>
          <hr>
           <!-- 
          without exact:true it will be added to all routes as they all start with / 
          <a [routerLink]="['']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
          -->
          <a [routerLink]="['']">Home</a> 
          <a [routerLink]="['student']">Students</a> 

          <!-- <ul>
              <li>maria</li>
              <li>nnnn</li>
          </ul> -->

          
          <hr>
          <router-outlet></router-outlet>
      </div>
  </div>
</div>
